<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet" />

    <title>Portfolio</title>
    <link rel="stylesheet" href="css/Portfolio.css" />
    <script src="page.js" defer></script>
  </head>
  <body>
    <div class="navBar">
      <!-- <img
        src="./Assets/logo no pointy edges white.png"
        alt="Logo made out of the letters EB"
        class="logoImg"
      />
      <div class="POK"></div> -->
      <!-- <h3>Om meg</h3> -->
      <!-- <button id="prosjekterBtn" onclick="scrollToCards()">Prosjekter</button>
      <button id="kontaktBtn" onclick="scrollToCards()">Kontakt</button> -->
    </div>
    <!-- ---------------------------------------------------------------- -->
    <div class="Hero">
      <div class="OmMegDiv">
        <div class="Me">
          <img src="img/Eirik.jpg" class="Selfie" />
          <h3>Eirik Bech</h3>
          <label>Junior Front-End Developer</label>
          <div class="skills">
            <img src="img/html.svg" class="skills" />
            <img src="img/css.svg" class="skills" />
            <img src="img/javascript.svg" class="skills" />
            <img src="img/react.svg" class="skills" />
            <img src="img/figmaNoBackground.svg" class="skills" />
          </div>
        </div>
        <div class="OmMeg">
          <h3>Om meg</h3>
          <p>
            Jeg er 29 år gammel og ble født og oppvokst
            i Bergen, Norge.<br><br> 

            Jeg er en junior front-end-utvikler som 
            nylig fullførte 5 måneder med opplæring i HTML, CSS, JavaScript og Figma 
            igjennom Kodehode, en AMO front-end-kurs.<br><br> 
            Jeg ser nå etter et internship de neste 6
            månedene der jeg kan fortsette å utvikle ferdighetene mine og få en
            kreativ tilnærming til prosjekter, samtidig som jeg er omgitt av
            andre likesinnede. <br><br> I fritiden holder jeg meg aktiv på 
            treningsstudioet, sosialiserer med venner og familie, utforsker og utdanner 
            meg selv om emner som jeg finner interessante på internett.<br><br> 
            Jeg gleder meg veldig til å komme ut i
            verden for å begynne å forbedre og utvikle meg som utvikler i en
            profesjonell arbeidsmiljø.
          </p>
        </div>

        <div id="Prosjekter"> 
          <h3>Prosjekter</h3>
          <div class="GridContainer">
            
            <div class="gridProsjekter">
              <a href="https://realzasin.github.io/Hva-veier-jeg-i-verdensrommet-/"> 
                <img src="img/Prosjekt_Vekt_i_Verdensrommet_720.png" />
              </a>
              <p class="GithubLink">Github: <a href="https://github.com/RealZasin/Hva-veier-jeg-i-verdensrommet-">Rep</a> </p>
            </div>

            <div class="gridProsjekter">
              <a href="https://realzasin.github.io/Drumkit-oppgave-Extraterrestrial-Sounds/">
              <img src="img/Prosjekt_Lyder_i_Verdensrommet_720.png" /> 
            </a>
              <p class="GithubLink">Github: <a href="https://github.com/RealZasin/Drumkit-oppgave-Extraterrestrial-Sounds">Rep</a> </p>
              </a>
            </div>

            <div class="gridProsjekter">
              <a href="https://realzasin.github.io/Harisha-task-3-THREE-PARTS-TO-GOOD-HEALTH/">
              <img src="img/THREE PARTS TO GOOD HEALTH.png" />
              </a>
              <p class="GithubLink">Github: <a href="https://github.com/RealZasin/Harisha-task-3-THREE-PARTS-TO-GOOD-HEALTH">Rep</a> </p>
            </div>

            <div class="gridProsjekter">
              <a href="https://realzasin.github.io/harisha-task-4-Image-Gallery/">
              <img src="img/Image_Gallery_Using_felxbox.png" />
              </a>
              <p class="GithubLink">Github: <a href="https://github.com/RealZasin/harisha-task-4-Image-Gallery">Rep</a> </p>
            </div>

            <div class="gridProsjekter">
              <img src="" />
            </div>

            <div class="gridProsjekter">
              <img src="" />
            </div>

            <!-- <div class="gridProsjekter">
              <img src="" />
            </div>
            <div class="gridProsjekter">
              <img src="" />
            </div>
            <div class="gridProsjekter">
              <img src="" />
            </div> -->
          </div>
        </div>
        <footer id="MyFooter">
          © Eirik Bech<br>
          E-mail: eirikbech@hotmail.com<br>
          Phone number: +47 40546018<br>
        </footer>
      </div>
    </div>
  </body>
</html>
